:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
    --yellow: #ffa76e;
    --pink: #5846f9;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    filter: blur(7px); /* Apply a blur effect to the background image */
    z-index: -1; /* Set z-index to ensure the pseudo-element is behind other content */
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
    border: 1px solid #ccc;
    background: linear-gradient(45deg, var(--primary) 0%, var(--dark) 100%);
    z-index: 1; /* Ensure it is above the blurred background */
    flex-direction: row;
    border-radius: 15px; /* Add border radius */
    overflow: hidden; /* Ensure content respects the border radius */
}

.slider {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px; /* Add border radius to the left side of the slider */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 15px 0 0 15px; /* Ensure the image respects the border radius */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background: linear-gradient(45deg, var(--primary) 0%, var(--dark) 100%);
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px; /* Increased width */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, var(--primary) 0%, var(--dark) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .login-form {
        width: 90%;
        margin: 20px auto;
    }

    .slider, .login-container {
        width: 100%;
        flex: none;
    }

    .slide img {
        height: auto;
        border-radius: 15px 15px 0 0; /* Adjust border radius for mobile view */
    }
}
.logo-container {
    position: absolute;
    top: 10px;
    left: 2px;
}

.obi-logo {
    max-width: 70px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}